html {
  font-size: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: "Manrope", sans-serif;
  font-size: $body-font;
  background: $lightGrayishBlue;
}

// .l-height {
//   line-height: 1.4;
// }

.d-color {
  color: $veryDarkGrayishBlue;
}

.l-color {
  color: $desaturatedDarkBlue;
}

.attribution {
  width: 100%;
  font-size: $font-sm;
  text-align: center;
  color: black;
  position: relative;
  bottom: 1rem;
}
.attribution a {
  color: rgb(250, 168, 168);
}
