html {
  font-size: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  line-height: 1.3;

  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;

  font-family: "Manrope", sans-serif;
  font-size: $body-font;
  font-weight: 500;
  color: $veryDarkGrayishBlue;
  background-color: $lightGrayishBlue;
}

a,
a:visited,
a:hover {
  text-decoration: none;
}

.pd-lr {
  padding-left: 2.125rem; //34px;
  padding-right: 2.125rem; //34px;
  @include breakpoint-up(medium) {
    padding-left: 2.5rem; //40px;
    padding-right: 2.5rem; //40px;
  }
}

//animation
.none {
  display: none;
  opacity: 0;
}

.appear {
  animation: fade-in 1s;
  animation-fill-mode: forwards;
  display: flex;
}

.disappear {
  animation: fade-out 1s;
  animation-fill-mode: forwards;
}

//Keyframes
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
//Visibility
.hide-for-mobile {
  @include breakpoint-down(medium) {
    display: none;
  }
}

.hide-for-desktop {
  @include breakpoint-up(large) {
    display: none;
  }
}

.attribution {
  width: 100%;
  font-size: $font-sm;
  text-align: center;
  color: black;
  position: relative;
  bottom: 1rem;
}
.attribution a {
  color: rgb(250, 168, 168);
}
