.profile {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: 60px repeat(3, 1fr);
  grid-template-areas:
    "image name name btn"
    "image date date btn";
  align-items: center;
  &__image {
    grid-area: image;
    width: 2.625rem; //42px;
    img {
      width: 100%;
      border-radius: 50%;
    }
  }
  &__name {
    grid-area: name;
    font-weight: 700;
  }
  &__date {
    grid-area: date;
    color: $grayishBlue;
  }
  &__share {
    text-transform: uppercase;
  }
  &__btn {
    justify-self: end;
    grid-area: btn;
    width: 2.125rem; //34px;
    height: 2.125rem; //34px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $lightGrayishBlue;
    border-radius: 50%;
    cursor: pointer;
  }
}
